.HeaderLeftStyle {
  min-width: 400px;
  float: left;
  text-align: center;
  color: red;
  background-color: white;
  padding: 10px;
  font-family: Arial;
  border: solid black 5px;
  border-radius: 15px;
  margin: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.HeaderRightStyle {
  float: right;
  text-align: center;
  color: red;
  background-color: white;
  padding: 10px;
  font-family: Arial;
  border: solid black 5px;
  border-radius: 15px;
  margin: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}